<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="partial/header :: header"/>

<body>

<nav th:replace="partial/nav :: navbar"/>

<div class="row">
    <div class="container">
        <div class="jumbotron">

            <ul class="nav nav-tabs" id="analysisNav">
                <li class="nav-item"><a id="monthTab" class="nav-link active" href="#sel">Month</a></li>
                <li class="nav-item"><a id="yearTab" class="nav-link" href="#sel">Year</a></li>
            </ul>

            <div class="form-group">
                <form name="f">
                    <div class="container">
                        <fieldset id="sel">
                            <legend>Select date</legend>
                            <div class="form-control">
                                <label for="dateSelect">Category (select one):</label>
                                <select class="form-control" name="dateSelect" id="dateSelect">
                                    <option th:each="date : ${dates}"
                                            th:value="${date}"
                                            th:text="${date.getMonth().getDisplayName(style, locale) + ' | ' + date.getYear()}">
                                        ...
                                    </option>
                                </select>
                            </div>

                        </fieldset>
                    </div>
                </form>

                <div class="container">
                    <div class="card">
                        <div class="ct-chart ct-perfect-fourth"></div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>

<div th:replace="partial/footer :: scripts"/>
<script src="/static/js/chart.js" th:src="@{/resources/js/chart.js}"></script>

</body>
</html>
