<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="partial/header :: header"></head>
<body>
<nav th:replace="partial/nav :: navbar"></nav>

<div class="row">
    <div class="container">
        <div class="jumbotron">
            <h1 class="text-center" th:text="${status} + ' - ' + ${error}">Error Code</h1>
            <div th:if="${message} != 'No message available'"  class="text-center alert alert-danger">
                <p th:text="${message}"></p>
            </div>
            <a class="btn btn-primary active" href="/">Home</a>
        </div>
    </div>

</div>

<div th:replace="partial/footer :: scripts"></div>


</body>
</html>
<!--<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        table td{
            vertical-align:top;
            border:solid 1px #888;
            padding:10px;
        }

    </style>
</head>
<body>
<h1>My Thymeleaf Error Page</h1>
<table>
    <tr>
        <td>Date</td>
        <td th:text="${timestamp}"/>
    </tr>
    <tr>
        <td>Path</td>
        <td th:text="${path}"/>
    </tr>
    <tr>
        <td>Error</td>
        <td th:text="${error}"/>
    </tr>
    <tr>
        <td>Status</td>
        <td th:text="${status}"/>
    </tr>
    <tr>
        <td>Message</td>
        <td th:text="${message}"/>
    </tr>
    <tr>
        <td>Exception</td>
        <td th:text="${exception}"/>
    </tr>
    <tr>
        <td>Trace</td>
        <td>
            <pre th:text="${trace}"/>
        </td>
    </tr>
</table>
</body>
</html>-->