<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="partial/header :: header"/>

<body>

<nav th:replace="partial/nav :: navbar"/>

<div class="row">
    <div class="container">
        <div class="jumbotron">

            <table th:if="${not #sets.isEmpty(entries)}" class="table">
                <thead>
                <tr>
                    <th>Description</th>
                    <th>Category <a th:href="@{/entries}">All</a> </th>
                    <th>Date <a href="/entries/date/asc">&uarr;</a> <a href="/entries/date/desc">&darr;</a></th>
                    <th>Value <a href="/entries/value/asc">&uarr;</a> <a href="/entries/value/desc">&darr;</a></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="entry : ${entries}">
                    <td th:text="${entry.description}"></td>
                    <td><a  th:text="${entry.category.name}" th:href="@{/entries/category/} + ${entry.category.id}"></a> </td>
                    <td th:text="${entry.date}"></td>
                    <td th:text="${entry.value}"></td>
                    <td>
                        <div class="btn-group">
                            <form method="post" th:action="@{/entries/delete/} + ${entry.id}">
                                <button type="submit" class="btn btn-danger active">Delete</button>
                            </form>
                            <form method="get" th:action="@{/entries/edit/} + ${entry.id}">
                                <button type="submit" class="btn btn-primary active">Edit</button>
                            </form>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>

            <a class="btn btn-primary active" href="/entries/create">Add Entry</a>
            <a class="btn btn-success active" href="/categories/create">Add Category</a>

        </div>
        <div class="jumbotron">
            <h3>Balance</h3>
            <p th:text="${balance}"></p>
        </div>
    </div>

</div>

<div th:replace="partial/footer :: scripts"/>


</body>
</html>
