<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="partial/header :: header"/>

<body>

<nav th:replace="partial/nav :: navbar"/>

<div class="row">
    <div class="container">
        <div  class="jumbotron">

            <table th:if="${not #sets.isEmpty(entries)}" class="table">
                <thead>
                <tr>
                    <th>Description</th>
                    <th><a href='/entries/date'>Date</a></th>
                    <th><a href='/entries/value'>Value</a></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="entry : ${entries}">
                    <td th:text="${entry.description}"></td>
                    <td th:text="${entry.date}"></td>
                    <td th:text="${entry.value}"></td>
                </tr>
                </tbody>
            </table>
            <a class="btn btn-primary active" href="/entries/create">Add Entry</a>
        </div>
        <div class="jumbotron">
            <h3>Balance</h3>
            <p th:text="${balance}"></p>
        </div>
    </div>

</div>

<div th:replace="partial/footer :: scripts"/>


</body>
</html>
