<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="partial/header :: header"/>
<body>
<nav th:replace="partial/nav :: navbar"/>

<div class="row">
    <div class="container">
        <div class="jumbotron">
            <div class="form-group">
                <form name="f" th:action="@{/login}" method="post">
                    <div class="container">
                        <fieldset>
                            <legend>Please Login</legend>
                            <div th:if="${param.error}" class="alert alert-danger">
                                Invalid username and password.
                            </div>
                            <div th:if="${param.logout}" class="alert alert-success">
                                You have been logged out.
                            </div>
                            <div class="form-control">
                                <label for="username">Username</label>
                                <input type="text" id="username" name="username"
                                       placeholder="Please fill with your username" class="form-control"/>
                            </div>
                            <div class="form-control">
                                <label for="password">Password</label>
                                <input type="password" id="password" name="password" placeholder="Type your password"
                                       class="form-control"/>
                            </div>
                            <div class="form-control">
                                <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
                            </div>
                        </fieldset>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

<div th:replace="partial/footer :: scripts"/>


</body>
</html>
